@use "./sass/partials/variables" as *;
@use "./sass/partials/mixins" as *;
//
// Global styles
//
*,
*::after,
*::before {
	box-sizing: border-box;
	padding: 0;
	margin: 0;
}

body {
	margin: 0;
	font-family: "Poppins", "Lucida Sans", sans-serif;
	font-weight: 400;
	font-size: 1rem;
	color: $dark-blue;
	background-color: $white;
}

img {
	height: auto;
	width: 100%;
}

a {
	color: inherit;
	text-decoration: none;
}
//
// Layout styles
//
.center {
	display: flex;
	justify-content: center;
}

.pages {
	padding: 0 $mobile-spacing;
	@include tablet {
		padding: 0 $tablet-padding;
	}
	@include tablet {
		padding: 0 $desktop-padding;
	}
}
