@use "../../sass/partials/variables" as *;
@use "../../sass/partials/mixins" as *;

.client {
	margin-bottom: 5rem;
	&__list {
		display: grid;
		list-style: none;
		gap: 1rem;
		&-title {
			margin: $tablet-padding 0;
		}
	}
}
